html {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#main {
  display: inline-block;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  color: #5077AE;
  margin: 15px 0;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.stop {
  font-size: 30px;
  border-radius: 3px;
  padding: 15px 10px;
  margin: 25px 0;
  border: 2px solid #5077AE;
  cursor: pointer;
}

h3 {
  font-size: 33px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 700px) {
  .stop {
    padding: 15px 0;
  }
}

.time-left {
  padding-top: 10px;
  font-style: italic;
}

.next-buses {
  width: 95%;
  margin: auto;
  font-size: 25px;
  display: none;
}

.next-buses h4 {
  border-top: 2px dotted #5077AE;
  padding-top: 15px;
  margin: 15px 0 0 0;
}

.next-buses ul {
  padding: 0;
  margin: 5px 0;
}
.next-buses ul li {
  padding: 5px 0;
  list-style: none;
}
